<%- include ('header') -%>

<div class="container mt-2">
    <h1 class="heading">About Page</h1>
<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos inventore maxime magni explicabo harum beatae fugiat a quas praesentium deleniti?</p>
</div>

<%- include ('footer') -%>